@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 180, 194, 224;
  --background-form-rgb: 255, 255, 255;
  --background-button-rgb: 213 180 224
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

form {
  background-color: rgb(var(--background-form-rgb));
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background: rgb(var(--background-button-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}